body {
    margin: 0;
    padding: 0;
  }
  html{
    background-color: antiquewhite;
  }
 main table,td
  { border: 1px solid;
  }
  main, p
  {
    text-align: center;
    font-size: larger;
  }
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px; 
    background-color: lightgray;}
  
    move-right {
        float: right;
        margin-right: 1000px;
        width: 10000px;
        height: auto;
        border: 1px solid black;
      }
      
      h1 {
        margin: 0;
        text-align: left;
        padding-left: 20px;
      
    background-color: antiquewhite;
}
footer{
    background-color: lightgray;
}
button{
    background-color: aqua;
    height: 30px; width: 90px;
}
span{
  margin-right: 10px;

}