body {
    margin: 0;
    padding: 0;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px; 
    background-color: lightgray;}
  
    move-right {
        float: right;
        margin-right: 1000px;
        width: 10000px;
        height: auto;
        border: 1px solid black;
      }
      
      h1 {
        margin: 0;
        text-align: left;
        padding-left: 20px;
      }

